.container{
    padding: 50px;
    display: flex;
}
.item{
    flex: 1;
}
.table{
    width: 100%;
    border-spacing: 20px;
    text-align: left;
}
.button{
    color: white;
    padding: 5px;
}
.button:first-child{
    background-color: teal;
    margin-right: 10px;
}
.button:last-child{
    background-color: crimson;
}
.nextButton{
    color: white;
    padding: 5px;
    background-color: #d1411e;
}
.title{
    font-size: 24px;
    font-weight: bold;
}