.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 96px);
}
.wrapper{
    display: flex;
    flex-direction: column;

}
.title{
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 10px;
}
.input{
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 5px;
}
.button{
    background-color: teal;
    padding: 5px;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}
.error{
    color: red;
    margin: auto;

}