.item{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item:nth-child(2){
    flex: 8;
}
.listItem {
    margin: 15px;
    font-weight: 500;
    cursor: pointer;
}
@media (max-width:767px) {
    .listItem {
        display: none;
    }
}
